/* Imports */
.visual-refresh.theme-dark span[class*=botTag_],
.visual-refresh.theme-dark div[class^=item_][class*=addFriend_],

.visual-refresh.theme-dark label[class^=checkboxWrapper_],

.visual-refresh.theme-dark div[class^=listItem_] div[class^=wrapper_] [class*=selected_],
.visual-refresh.theme-dark button[class^=container_]>div[class^=icon_]>svg,

.visual-refresh.theme-dark button[class*=button_][class*=lookFilled_][class*=colorRed_],
.visual-refresh.theme-dark button[class*=button_][class*=lookFilled_][class*=colorGreen_],

.visual-refresh .theme-dark div[class^=premiumTab_][class*=selected_],

.visual-refresh .theme-dark .interactive:hover {
    --white: #11111b;
    --white-500: #11111b
}

.visual-refresh.theme-dark svg[class^=radioIndicator_] [class*=refreshIcon_],
.visual-refresh .theme-dark svg[class^=radioIndicator_] [class*=refreshIcon_] {
    fill: #11111b
}

.visual-refresh.theme-dark div[class^=bannerContainer_] [style*="color: white"],
.visual-refresh.theme-dark div[class^=friendRequestContainer_]>button[class*=colorGreen_] [style*="color: white"],
.visual-refresh .theme-dark div[class^=bannerContainer_] [style*="color: white"],
.visual-refresh .theme-dark div[class^=friendRequestContainer_]>button[class*=colorGreen_] [style*="color: white"] {
    color: #11111b !important
}

.visual-refresh.theme-dark div[data-text-variant="text-sm/normal"][style*="color: white"] {
    color: #11111b !important;
}

.visual-refresh.theme-dark div[data-text-variant="text-md/medium"][style*="color: white"] {
    color: #11111b !important;
}

.visual-refresh.theme-dark div[data-text-variant="text-sm/normal"].text-sm\/normal_cf4812 {
    color: white !important;
}

/* Dark Theme */
.visual-refresh.theme-dark,
.visual-refresh .theme-dark {
    --brand-experiment: #f5c2e7;
    --bg-brand: #f5c2e7;
    --brand-100: white;
    --brand-130: white;
    --brand-160: white;
    --brand-200: white;
    --brand-230: white;
    --brand-260: white;
    --brand-300: white;
    --brand-330: white;
    --brand-360: white;
    --brand-400: white;
    --brand-430: #fceef8;
    --brand-460: #f9d8f0;
    --brand-500: #f5c2e7 !important;
    --brand-530: #f1acde;
    --brand-560: #ee96d6;
    --brand-600: #ea80cd;
    --brand-630: #e76ac5;
    --brand-660: #e354bc;
    --brand-700: #df3fb3;
    --brand-730: #de34af;
    --brand-760: #dc29ab;
    --brand-800: #d523a4;
    --brand-830: #ca219c;
    --brand-860: #bf1f93;
    --brand-900: #b41e8b;
    --brand-05a: rgba(245, 194, 231, 0.05);
    --brand-10a: rgba(245, 194, 231, 0.1);
    --brand-15a: rgba(245, 194, 231, 0.15);
    --brand-20a: rgba(245, 194, 231, 0.2);
    --brand-25a: rgba(245, 194, 231, 0.25);
    --brand-30a: rgba(245, 194, 231, 0.3);
    --brand-35a: rgba(245, 194, 231, 0.35);
    --brand-40a: rgba(245, 194, 231, 0.4);
    --brand-45a: rgba(245, 194, 231, 0.45);
    --brand-50a: rgba(245, 194, 231, 0.5);
    --brand-55a: rgba(245, 194, 231, 0.55);
    --brand-60a: rgba(245, 194, 231, 0.6);
    --brand-65a: rgba(245, 194, 231, 0.65);
    --brand-70a: rgba(245, 194, 231, 0.7);
    --brand-75a: rgba(245, 194, 231, 0.75);
    --brand-80a: rgba(245, 194, 231, 0.8);
    --brand-85a: rgba(245, 194, 231, 0.85);
    --brand-90a: rgba(245, 194, 231, 0.9);
    --brand-95a: rgba(245, 194, 231, 0.95);
    
    --button-positive-background: #a6e3a1;
    --button-positive-background-hover: #86cc81;

    --red-400: #f38ba8;
    --red-430: #ee5d85;
    --red-500: #ec4674;
    
    --button-filled-brand-text: #11111b;
    --button-filled-brand-background: #f5c2e7;
    --button-filled-brand-background-hover: #f0a1da;
    --button-filled-brand-background-active: #ec8bd1;
    --button-filled-brand-inverted-text: #11111b;
    
    --scrollbar-thin-thumb: transparent;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: rgba(245, 194, 231, 0.3);
    --scrollbar-auto-scrollbar-color-thumb: transparent;
    
    --message-reacted-background: rgba(245, 194, 231, 0.1) !important;
    --message-reacted-text: #f5c2e7;

    --blurple-50: #f5c2e7;
    --text-brand: #f5c2e7;
    --opacity-blurple-16: rgba(245, 194, 231, 0.16);

    --guild-boosting-pink: #f5c2e7;
    
    --mention-foreground: #f5c2e7;
    --mention-background: rgba(245, 194, 231, 0.3);
    --background-mentioned: rgba(249, 226, 175, 0.1);
    --background-mentioned-hover: rgba(249, 226, 175, 0.08);
    --background-message-highlight: rgba(245, 194, 231, 0.08);
}

/* Pink border */
.visual-refresh.theme-dark div[class*=container_]:focus-within:has(>div[class^=inner_]>input),
.visual-refresh.theme-dark [class*=input_][type=text]:not([readOnly]):focus,
.visual-refresh.theme-dark [class*=input_][type=text]:not([readOnly]):focus:hover,
.visual-refresh .theme-dark div[class*=container_]:focus-within:has(>div[class^=inner_]>input),
.visual-refresh .theme-dark [class*=input_][type=text]:not([readOnly]):focus,
.visual-refresh .theme-dark [class*=input_][type=text]:not([readOnly]):focus:hover {
    --text-link: var(--brand-500)
}

/* Black Circles */
.visual-refresh.theme-dark div[class^=control_]>div[class^=container_][class*=checked_],
.visual-refresh .theme-dark div[class^=control_]>div[class^=container_][class*=checked_] {
    background-color: var(--brand-500) !important
}

.visual-refresh.theme-dark div[class^=control_]>div[class^=container_][class*=checked_]>svg>svg>path,
.visual-refresh .theme-dark div[class^=control_]>div[class^=container_][class*=checked_]>svg>svg>path {
    fill: var(--brand-500)
}

.visual-refresh.theme-dark div[class^=control_]>div[class^=container_][class*=checked_]>svg>rect,
.visual-refresh .theme-dark div[class^=control_]>div[class^=container_][class*=checked_]>svg>rect {
    fill: #11111b
}

.visual-refresh.theme-dark div[class^=vc-addon-card]>div div[class^=container_][class*=checked_]>svg>rect,
.visual-refresh .theme-dark div[class^=vc-addon-card]>div div[class^=container_][class*=checked_]>svg>rect {
    fill: #11111b
}

.visual-refresh.theme-dark div[class^=newMessagesBar_],
.visual-refresh .theme-dark div[class^=newMessagesBar_] {
    --white: #11111b;
    --button-secondary-background: var(--brand);
    --button-secondary-background-hover: var(--brand-530)
}

.visual-refresh.theme-dark .container__87bf1.checked__87bf1 {
    background-color: var(--brand-500) !important;
}

.visual-refresh.theme-dark .container__87bf1.checked__87bf1 rect {
    fill: #11111b !important;
}

.visual-refresh.theme-dark .container__87bf1.checked__87bf1 svg path {
    fill: var(--brand-500) !important;
}

/* Status Circles */
.visual-refresh.theme-dark ::selection,
.visual-refresh .theme-dark ::selection {
    background-color: rgba(245, 194, 231, 0.6)
}

.visual-refresh.theme-dark svg [fill="#ca9654"],
.visual-refresh.theme-dark svg[fill="#ca9654"],
.visual-refresh .theme-dark svg [fill="#ca9654"],
.visual-refresh .theme-dark svg[fill="#ca9654"] {
    fill: #f9e2af
}

.visual-refresh.theme-dark div[style="background-color: rgb(202, 150, 84);"],
.visual-refresh .theme-dark div[style="background-color: rgb(202, 150, 84);"] {
    background-color: #f9e2af !important
}

.visual-refresh.theme-dark svg [fill="#d83a42"],
.visual-refresh.theme-dark svg[fill="#d83a42"],
.visual-refresh .theme-dark svg [fill="#d83a42"],
.visual-refresh .theme-dark svg[fill="#d83a42"] {
    fill: #f38ba8
}

.visual-refresh.theme-dark div[style="background-color: rgb(216, 58, 66);"],
.visual-refresh .theme-dark div[style="background-color: rgb(216, 58, 66);"] {
    background-color: #f38ba8 !important
}

.visual-refresh.theme-dark svg [fill="#43a25a"],
.visual-refresh.theme-dark svg[fill="#43a25a"],
.visual-refresh .theme-dark svg [fill="#43a25a"],
.visual-refresh .theme-dark svg[fill="#43a25a"] {
    fill: #a6e3a1
}

.visual-refresh.theme-dark div[style="background-color: rgb(67, 162, 90);"],
.visual-refresh .theme-dark div[style="background-color: rgb(67, 162, 90);"] {
    background-color: #a6e3a1 !important
}

/* Get Nitro Button */
.visual-refresh.theme-dark .subButton__70f7f {
    background-color: #4e5058 !important;
    color: #fff !important;
    border-radius: 8px;
    box-shadow: none !important;
    transition: background-color 0.2s ease;
}

.visual-refresh.theme-dark .subButton__70f7f:hover {
    background-color: #b377f1 !important;
}
